body {
  /* O linear-gradient cria uma película branca com 85% de opacidade (0.85) por cima da imagem */
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
    url("assets/background.jpg");
  background-size: cover; /* Garante que a imagem cubra a tela toda */
  background-position: center; /* Centraliza a imagem */
  background-attachment: fixed; /* Deixa o fundo congelado enquanto você rola a página (Efeito Parallax suave) */
}

/* --- Cor Azul Claro da Navbar --- */
.navbar-sonic {
  background-color: #e0f2fe;
  border-bottom: 4px solid #ffca2c;
}

.texto-sonic {
  color: #0d6efd;
}

.texto-tails {
  color: #fd7e14;
}

.texto-knuckles {
  color: #dc3545;
}

.texto-amy {
  color: #d63384;
}

.texto-shadow {
  color: #212529;
}

.texto-rouge {
  color: #6f42c1;
}

/* Efeito Hover nos botões de adicionar */
.add-btn {
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #ffca2c; /* Deixa o amarelo mais brilhante */
  transform: scale(1.05); /* Aumenta o botão de leve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cria uma sombra no hover */
}

/* Opcional: Efeito hover nos cards para ficar ainda mais moderno */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Faz o card "subir" um pouquinho */
}
